.navBar {
    width: 100%;
    margin-top: 10px;
    background-image: url('https://media.istockphoto.com/vectors/vector-illustration-of-pale-gray-plain-grungy-gradient-empty-vector-id1068840354?k=6&m=1068840354&s=612x612&w=0&h=2_7Nb44935OwY3ZqhyPcot2h1AslQECBBLjIpX0Q5v0=');
}

.NavBorderBottom {
    border-bottom: 10px solid rgba(245, 245, 245, 0.486);
}

.Logo {
    width: 120px;
    height: 40px;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
}

.switch input {
    position: absolute;
    opacity: 0;
}
  
  .switch {
    display: inline-block;
    font-size: 20px; 
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
    float: left;
    margin-top: 5px;
    margin-right: 35px;
}
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
}
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            background-color: yellow;
}

.Menu {
    height: 2em;
    width: 2em;
    float: left;
}

.SwitchMenu {
    float: right;
    margin-right: 30px;
}

.navList {
    overflow: hidden;
    float: left;
    height: 100%;
    width: 140px;
    border-right: 7px solid rgba(245, 245, 245, 0.486);
    color: gray;
}

.navEl {
    margin-bottom: 80px;
    text-align: left;
    margin-left: 27px;
}

.navElRed {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 27px;
    margin-top: 80px;
}

.Red {
    margin-bottom: 70px;
    border-bottom: 2px solid red;
}

.AllSmallDiv {
    float: left;
    margin-top: 60px;
    margin-left: 80px;
}

.Title {
    float: left;
    color: gray;
    margin-bottom: 20px;
}

.Serbia {
    float: left;
    height: 3px;
    width: 80px;
    margin-top: 23px;
    margin-left: 20px;
}

.smallDiv {
    background-color:rgb(245, 245, 245);
    height: 130px;
    width: 670px;
    margin-bottom: 25px;
}

.smallDivS {
    background-color:rgb(245, 245, 245);
    height: 130px;
    width: 670px;
    margin-bottom: 25px;
    border: 2px solid red;
}

.Small {
    float: left;
    height: 130px;
    width: 260px;
}

.smallText {
    float: left;
    color: rgba(0, 0, 0, 0.698);
    margin-left: 30px;
}

.Clock {
    float: left;
    height: 40px;
    width: 50px;
    margin-left: 15px;
}

.Time {
    float: left;
    color: rgba(0, 0, 0, 0.698);
}

.Big {
    float: left;
}

.BigImage {
    height: 310px;
    width: 620px;
    margin-top: 114px;
    margin-left: 95px;
    border-bottom: 5px solid rgba(128, 128, 128, 0.253);
}

.Desc {
    margin-left: 95px;
    width: 620px;
    background-color: whitesmoke;
    margin-top: -20px;
    height: 290px;
}

.TextDesc {
    width: 480px;
    color: gray;
    margin-left: 50px;
    line-height: 30px;
}